---
layout: minimal
title: "Archive"
permalink: /archive
image: '/assets/img/series.png'
description: ""
---

{% for post in site.posts %}
  <!-- Year -->
  {% assign currentYear = post.date | date: "%Y" %}
  {% if currentYear != postYear %}
    {% unless forloop.first %}<div class="archive-last-border"></div></ul>{% endunless %}
    <h2>{{ currentYear }}</h2>
    <ul>
      {% assign postYear = currentYear %}
  {% endif %}
  <!-- Month -->
  {% assign currentMonth = post.date | date: "%B" %}
  {% if currentMonth != postMonth %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h3>{{ currentMonth }}</h3>
    <ul>
      {% assign postMonth = currentMonth %}
  {% endif %}

  <li>
    <span class="archive-date">{{ post.date | date: "%d, %a" }}</span><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    <div class="archive-tags">
    {% for tag in post.tags %}
      <a class="archive-tag" href="{{ site.rul }}/tags/">{{ tag }}</a>
    {% endfor %}
    </div>
  </li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
