<!-- <ul id="menu" class="menu motion-element">
  {% for name_path in site.menu %}
    {% assign name = name_path[0] %}
    {% assign path = name_path[1] %}
    {% assign itemName = name | downcase %}
    <li class="menu-item-{{ itemName }} menu-sidebar">
      <a href="{{ path | relative_url }}" rel="section">
        {{ __.menu[name] }}
      </a>
    </li>
  {% endfor %}

  {% if site.swiftype_key or site.algolia_search.enable or site.tinysou_Key or site.local_search.enable %}
    {% assign hasSearch = true %}
  {% endif %}
  {% if hasSearch %}
    <li class="menu-item menu-item-search">
      {% if site.swiftype_key %}
        <a href="javascript:;" class="st-search-show-outputs">
      {% elsif site.local_search.enable or site.algolia_search.enable %}
        <a href="javascript:;" class="popup-trigger">
      {% endif %}
        {% if site.menu_icons.enable %}
          <i class="menu-item-icon fa fa-search fa-fw"></i> <br />
        {% endif %}
      </a>
    </li>
  {% endif %}
</ul> -->

<div class="category-all-page motion-element">
  <div class="category-all">
    <!-- <span><i class="menu-item-icon fa fa-fw fa-th"></i></span> -->
    <!-- <span style="font-size:20px;">Category</span> -->
    {% include _helper/list_categories.html %}
    {{ list_categories }}
  </div>
</div>
