<footer>
    <p>Copyright ⓒ 2016-'{{ site.time | date: "%y" }}' By Sihong Park</p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    var disqus_shortname = '{{site.disqus_username}}';

    (function () {
      var s = document.createElement('script'); s.async = true;
      s.id = "dsq-count-scr";
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
    }());
</script>
