<div id="search-overlay" style="width:100%; height:100%; display:none"></div>
<div class="search-wrapper">
    <div class="search-form">
        <input type="text" id="searchText" class="search-field" placeholder="Search...">
        <svg class="icon-remove-sign"><use id="closeIcon" xlink:href="#icon-close"></use></svg>
        <ul class="search-results search-list"></ul>
    </div>
</div>

<div id="fade" class="overlay"></div>
<a id="slide" class="slideButton fade">
    <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    <svg id="close" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
</a>
<aside id="sidebar">
<nav id="navigation">
  <div class="img-profile-wrapper">
    <img itemprop="image" class="img-profile" src="{{site.baseurl}}/assets/img/profile.jpeg" alt="{{site.name}}">
  </div>
  <h2>MENU</h2>
  <ul>
    {% for link in site.links %}
      {% if link.external %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% else %}
        {% if link.title | capitalize != categories %}
          {% if link.sublink %} <!-- category -->
            <li><a class="{% if page.url == link.url %}menu-active{% endif %} category-section" href="{{ site.url }}{{ link.url }}">
                <!-- Count of post -->
                {% assign index = 1 %}
                {% for category in site.categories %}
                  {% assign counter = 0 %}
                  {% if link.title != category[0] %} {% continue %} {% endif %}
                    {% for post in category[1] %}
                      {% unless post.published == false %} {% assign counter = counter | plus:1 %} {% endunless %}
                    {% endfor %}
                  {% break %} <!-- print count -->
                {% endfor %}
                - {{ link.title }} ({{ counter }})</a></li>
          {% else %}  <!-- link -->
            <li><a class="{% if current_url == link.url %}menu-active{% endif %}" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
          {% endif %}
        {% else %}
          {% for category in site.categories %}
            <li><a href="{{ site.url }}{{ link.url }}{{ category[0] }}">{{ category.title }}</a></li>
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <li><a class="feed" href="{{ site.url }}/feed.xml" title="Atom/RSS feed">Feed</a></li>
  </ul>
</nav>
</aside>
<a id="search" class="dosearch">
    <svg id="searchIcon" class="icon-menu icon-search"><use xlink:href="#icon-search"></use></svg>
</a>
