// Custom styles.
.menu-sidebar {
  display: block;
}

.search-sidebar {
  position: fixed;
  right: $b2t-position-right;
  bottom: 75px;
  width: 14px;
  height: 14px;
  padding: 5px;
  background: $black-deep;
  line-height: 0;
  z-index: $zindex-5;
  cursor: pointer;
  color: white;
  -webkit-transform: translateZ(0);

  @include tablet() {
    display: none;
  }
  @include mobile() {
    display: none;
  }
}
